<nav><ul>
    <li>
      <a href="/celebrities/create">Create New Celebrity</a>
    </li>
    <li>
      <a href="/celebrities">List all Celebrities</a>
    </li>

    <li>
      <a href="/movies/create">Create New Movie</a>
    </li>
    <li>
      <a href="/movies">List all Movies</a>
    </li>

  </ul>
</nav>
<h1>Welcome to the app</h1>